<template name="settingsView">
	{{> returnTopBar title="Settings"}}
	<div class="row">
	<div class="col s5 m5 l5">
	  {{> weekdaysettings}}
	  {{> timeselectsettings}}
	  {{> alarmsettings}}
	  how often
	</div>
</div>
</template>


<template name="weekdaysettingsitem">
	<input type="checkbox" id="settings_day_{{name}}" {{selected}} />
	<label for="settings_day_{{name}}">{{name}}</label>
</template>
<template name="weekdaysettingsrow">
	<li class="collection-item">
		{{> weekdaysettingsitem}}
	</li>
</template>
<template name="weekdaysettings">
	<ul class="collection with-header">
	    <li class="collection-header"><h6>Weekdays</h6></li>
		{{#each day}}
			{{> weekdaysettingsrow}}
		{{/each}}
	</ul>
</template>

<template name="timeselectsettings">
	<ul class="collection with-header">
	    <li class="collection-header"><h6>Time of activity</h6></li>
		{{#each event}}
			<li class="collection-item"> 
				{{> timeselectitem}}
			</li>
		{{/each}}
	</ul>
</template>
<template name="timeselectitem">
	{{#with reference}}
		{{> sliderinputtitled}}
	{{/with}}

</template>

<template name="timeslider">
	<p class="range-field">
      <input type="range" id="time_slider_{{name}}" min="0" max="1435" value="{{time}}"/>
    </p>
</template>



<template name="alarmsettings">
	<ul class="collection with-header">
		<li class="collection-header"><h6>Reminder intensity</h6></li>
		{{#each event}}
			{{> alarmsettingsrow}}
		{{/each}}
	</ul>
</template>

<template name="alarmsettingsrow">
	<li class="collection-item">
		<div class="row" style="margin-bottom:0px">
			<div class="col s6 m4 l3">
				{{>alarmsettingscheck}} 
			</div>
			<div class="col s6 m8 l9 " >
				{{>alarmsettingsslider}}
			</div>
		</div>
	</li>
</template>


<template name="alarmsettingscheck">
	<input type="checkbox" id="settings_alarm_{{name}}" checked="{{alarmselected}}" />
	<label for="settings_alarm_{{name}}"><i class="material-icons">{{icon}}</i></label>
</template>

<template name="alarmsettingsslider">
	{{#with reference}}
		{{> sliderinput}}
	{{/with}}
</template>

<template name="sliderinput">
	<p class="range-field" style="margin-bottom:0px;margin-top:0px">
      <input type="range" id="input_slider_{{title}}" min="{{min}}" max="{{max}}" value="{{level}}" style="padding-top: 0px;padding-bottom:-30px; margin-bottom:-30px" {{sliderhidden}}/>
    </p>
</template>

<template name="sliderinputtitled">
	{{>sliderinput}}
	<label for="input_slider_{{title}}">{{titleformat}}</label>
</template>
