/* CSS declarations go here */

.ContentBackground {
  background-color: $global-background-color;
  height: 100vh;
}

.LeftContent {
  @extend .ContentBackground;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 40%;
  padding-bottom: 20%;
}

.RightContent {
  @extend .ContentBackground;
}

.BarContainer {
  background-color: $primary-color;
  height: 100%;
  width: 100%;
}

.BarBackground {
  background-color: $primary-color-dark;
  width: 100%;
}

.StatsContent {
  height: 60vh;
  padding-right: 10%;
}

.SettingsContent {
  height: 40vh;
}

.ReturnTopBar {
  background-color: $secondary-color;
}
