<template name="settingsView">
	<div class="col s5 m5 l5">
	  <ul class="collection with-header">
	    <li class="collection-header"><h6>Weekdays</h6></li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-0"/>
	      <label for="test6">Monday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-1"/>
	      <label for="test6">Tuesday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-2"/>
	      <label for="test6">Wednesday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-3"/>
	      <label for="test6">Thursday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-4"/>
	      <label for="test6">Friday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-5"/>
	      <label for="test6">Saturday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-6"/>
	      <label for="test6">Sunday</label>
	    </li>
	  </ul>
	  <ul class="collection with-header">
	    <li class="collection-header"><h6>Weekdays</h6></li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-0"/>
	      <label for="test6">Monday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-1"/>
	      <label for="test6">Tuesday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-2"/>
	      <label for="test6">Wednesday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-3"/>
	      <label for="test6">Thursday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-4"/>
	      <label for="test6">Friday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-5"/>
	      <label for="test6">Saturday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-6"/>
	      <label for="test6">Sunday</label>
	    </li>
	  </ul>
	  <ul class="collection with-header">
	    <li class="collection-header"><h6>Weekdays</h6></li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-0"/>
	      <label for="test6">Monday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-1"/>
	      <label for="test6">Tuesday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-2"/>
	      <label for="test6">Wednesday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-3"/>
	      <label for="test6">Thursday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-4"/>
	      <label for="test6">Friday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-5"/>
	      <label for="test6">Saturday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-6"/>
	      <label for="test6">Sunday</label>
	    </li>
	  </ul>
	</div>
	<div class="col s5 m5 l5">
	  <ul class="collection with-header">
	    <li class="collection-header"><h6>Weekdays</h6></li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-0"/>
	      <label for="test6">Monday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-1"/>
	      <label for="test6">Tuesday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-2"/>
	      <label for="test6">Wednesday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-3"/>
	      <label for="test6">Thursday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-4"/>
	      <label for="test6">Friday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-5"/>
	      <label for="test6">Saturday</label>
	    </li>
	    <li class="collection-item">
	      <input type="checkbox" id="settings-day-6"/>
	      <label for="test6">Sunday</label>
	    </li>
	  </ul>
	</div>
</template>
