// File that specifies any global color variables

$global-background-color: #E1F5FE;

// Materialize color overrides:
$primary-color: #03A9F4;
$primary-color-dark: #0288D1;
$primary-color-light: #B3E5FC;

$secondary-color: #FF5722;
$success-color: #4CAF50;
$error-color: #D32F2F;

$link-color: white;
