/* CSS declarations go here */

.ContentBackground {
  background-color: $global-background-color;
  height: 100vh;
}

div .LeftContent {
  @extend .ContentBackground;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 40%;
  padding-bottom: 20%;
}

div .RightContent {
  @extend .ContentBackground;
}

div .ActivityBar {
  background-color: $primary-color-dark;
}

div .ActivityBarFill {
  background-color: $primary-color;
}

div .StatsContent {
  height: 50vh;
}

div .SettingsContent {
  height: 50vh;
}
